# Data Cleaning and Preparation

## 7.1 Handling Missing Data

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
string_data = pd.Series(['aaaaaaaa','bbbbbbbb',np.nan, 'cccccccc'])
string_data

0    aaaaaaaa
1    bbbbbbbb
2         NaN
3    cccccccc
dtype: object

#### reinstall scipy and clean its cache

```python
!pip install --force-reinstall -I --no-cache-dir scipy
```

In [5]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [6]:
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

#### Table 7-1. NA handling methods

![Table 7-1. NA handling methods](images/Table 7-1. NA handling methods.png)

### Filtering Out Missing Data

In [7]:
from numpy import nan as NA

In [8]:
data = pd.Series([1,NA,3.5,NA,7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [9]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [10]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()

In [11]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [12]:
cleaned

     0    1    2
0  1.0  6.5  3.0

In [13]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [15]:
data[4] = NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [16]:
data.dropna(how='all', axis=1)

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [17]:
data.dropna?