# Ch 3. Built-in Data Structures, Functions, and Files

## 3.1 Data Structures and Sequences

### Tuple

In [2]:
tup = 3, 4, 5
tup

(3, 4, 5)

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tuple([4, 0, 5])

(4, 0, 5)

In [5]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tup[0]

's'

In [7]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [8]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [9]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [10]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [11]:
tup = 4, 5, 6
a, b, c = tup
print(a, b, c)

4 5 6

In [12]:
tup = 3, 4, (5, 6)
a, b, c = tup
c

(5, 6)

In [13]:
a, b = 1, 2
a, b = b, a
print(a, b)

2 1

In [14]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [15]:
values = 1, 2, 3, 4, 5, 6
a, b, *rest = values
print(a, b, rest)

1 2 [3, 4, 5, 6]

In [16]:
a, b, *_ = values
_

[3, 4, 5, 6]

#### Tuple methods

In [17]:
a = 1, 2, 2, 2, 3, 4, 2
a.count(2)

4

### List

In [18]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [19]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [20]:
gen = range(10)
gen

range(0, 10)

In [21]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [22]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [23]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [25]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [29]:
b_list.append('foo')
b_list

['red', 'baz', 'dwarf', 'foo', 'foo']

In [30]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [31]:
'dwarf' in b_list

True

In [32]:
'dwarf' not in b_list

False

#### Concatenating and combining lists

In [33]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [34]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sorting

In [35]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [36]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Binary search and maintaining a sorted list

In [37]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [38]:
bisect.bisect(c, 5)

6

#### Slicing

In [39]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [41]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [42]:
seq[:5]

[7, 2, 3, 6, 3]

In [43]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [46]:
seq[-4:]

[5, 6, 0, 1]

In [48]:
seq[-6:-2]

[6, 5]

In [49]:
seq[::2]

[7, 3, 3, 6, 1]

In [50]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

#### enumerate

In [51]:
collection = [1,2,3,4,5,6,7,8,9,10]
collection.reverse()
for i, val in enumerate(collection):
    print(i, val)

0 10
1 9
2 8
3 7
4 6
5 5
6 4
7 3
8 2
9 1

In [52]:
some_list = {'foo', 'bar', 'baz'}
mapping = {}

for i, v in enumerate(some_list):
    mapping[v] = i

mapping

{'bar': 0, 'baz': 2, 'foo': 1}

#### sorted

In [53]:
sorted([4,8,3,2,1,7,4,5,0,9,7,4])

[0, 1, 2, 3, 4, 4, 4, 5, 7, 7, 8, 9]

In [54]:
sorted('Hello Edward!')

[' ', '!', 'E', 'H', 'a', 'd', 'd', 'e', 'l', 'l', 'o', 'r', 'w']

#### zip

In [58]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [59]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [61]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [66]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
print(first_names, last_names)

('Nolan', 'Roger', 'Schilling') ('Ryan', 'Clemens', 'Curt')

#### reversed

In [68]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [69]:
empty_dict = {}
d1 = {'a': 'some value', 'b': [1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [71]:
d1[7] = 'an integer'
d1

{7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [72]:
d1['b']

[1, 2, 3, 4]

In [73]:
'b' in d1

True

In [75]:
d1[5] = 'some value'
d1

{5: 'some value', 7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [78]:
d1['dummy'] = 'another value'
d1

{5: 'some value',
 7: 'an integer',
 'a': 'some value',
 'b': [1, 2, 3, 4],
 'dummy': 'another value'}

In [80]:
del d1[5]

KeyError: 5

In [81]:
d1

{7: 'an integer',
 'a': 'some value',
 'b': [1, 2, 3, 4],
 'dummy': 'another value'}

In [82]:
ret = d1.pop('dummy')

In [83]:
ret

'another value'

In [84]:
d1

{7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [85]:
list(d1.keys())

['a', 'b', 7]

In [86]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [88]:
d1.update({'b': 'foo', 'c': 12})

In [89]:
d1

{7: 'an integer', 'a': 'some value', 'b': 'foo', 'c': 12}

### Creating dicts from sequences

In [90]:
# mapping = {}
# for key, value in zip(key_list, value_list):
#     mapping[key] = value

mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [92]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
    
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [93]:
by_letter2 = {}
for word in words:
    letter = word[0]
    by_letter2.setdefault(letter, []).append(word)

by_letter2

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [97]:
from collections import defaultdict
by_letter3 = defaultdict(list)
for word in words:
    by_letter3[word[0]].append(word) # defaultdict(list, {'a': [], 'b': []}) at first
    
by_letter3

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### Valid dict key types

In [98]:
hash('string')

-2114916646138568200

In [100]:
hash((2, (3, 4)))

-3743910945163793787

In [101]:
hash((1, 2, [3, 4]))

TypeError: unhashable type: 'list'

In [104]:
d = {}
d[tuple([1, 2, 3])] = 5

print(d)
hash(d)

{(1, 2, 3): 5}

TypeError: unhashable type: 'dict'

#### set

In [105]:
set([2,2,2,2,2,2,1,1,1,1,1,3,3,3,3,3])

{1, 2, 3}

In [106]:
{2,2,2,2,2,2,1,1,1,1,1,3,3,3,3,3}

{1, 2, 3}

In [107]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [108]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [109]:
a.intersection(b)

{3, 4, 5}

In [110]:
a & b

{3, 4, 5}

![Table%203-1.%20Python%20set%20operations.png](images/Table%203-1.%20Python%20set%20operations.png)

In [115]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [117]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [118]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [120]:
a_set = {1,2,3,4,5}
{1,2,3}.issubset(a_set)

True

In [121]:
a_set.issuperset({1,2,3})

True

### List, Set, and Dict Comprehensions

In [128]:
# [expr for val in collection if condition]
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [129]:
# dict_comp = {key-expr : value-expr for value in collection if condition}
# set_comp = {expr for value in collection if condition}
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [130]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [131]:
loc_mapping = {v: i for i, v in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [138]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [141]:
result = [name for names in all_data for name in names if name.count('e') >= 2 ] # consider like a nested for-loop
result

['Steven']

In [143]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [145]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 3.2 Functions

In [146]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)
    
print(my_function(5, 6, z=0.7))
print(my_function(3.14, 7, 3.5))
print(my_function(10, 20))

0.06363636363636363
35.49
45.0

In [147]:
my_function(x=5, y=6, z=7

77

In [148]:
my_function(y=6, x=5, z=7)

77

### Namespaces, Scope, and Local Functions

In [150]:
a = None
def bind_a_variable():
    global a
    a = list(range(10))
bind_a_variable()
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Returning Multiple Values

In [152]:
def rtn():
    a = 1; b = 2; c = 3
    return a, b, c
x, y, z = rtn()

print(x, y, z)
print(rtn())

1 2 3
(1, 2, 3)

In [158]:
def rtnDict():
    a = 11; b = 22; c = 33
    return {'a':a, 'b':b, 'c':c}

x, y, z = rtnDict()
print(x, y, z)
print(rtnDict())

a b c
{'a': 11, 'b': 22, 'c': 33}

### Functions Are Objects

In [160]:
import re

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south   carolina##', 'West virginia?']
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

print(clean_strings(states))

['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South   Carolina', 'West Virginia']

In [161]:
import re

def rm_punctuation(value):
        return re.sub('[!#?]','',value)

clean_ops = [str.strip, rm_punctuation, str.title]

def clean_strings(strings):
    result = []
    for value in strings:
        for func in clean_ops:
            value = func(value)
        result.append(value)
    return result

print(clean_strings(states))

['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South   Carolina', 'West Virginia']

In [162]:
for x in map(rm_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

In [164]:
# def short_function(x): 
#     return x * 2
# equiv_anon = lambda x: x * 2

def apply_to_list(some_list, func):
    return [func(x) for x in some_list]

ints = [0, 1, 4, 5, 8, 3, 2]
apply_to_list(ints, lambda x: x ** 2) # == [x ** 2 for x in ints]

[0, 1, 16, 25, 64, 9, 4]

In [166]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application

In [169]:
def add_numbers(x, y): 
    return x + y
add_five = lambda y: add_numbers(5, y)
add_five(4)

9

In [170]:
from functools import partial
add_five = partial(add_numbers, 5)
add_five(14)

19

### Generators

In [172]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [174]:
dict_itr = iter(some_dict)
dict_itr

In [175]:
list(dict_itr)

['a', 'b', 'c']

In [179]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n+1):
        yield i ** 2

gen = squares()
gen

In [180]:
list(gen) # print and show the elements in function

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Generator expresssions

In [184]:
gen = (x ** 2 for x in range(100))
print(gen)

# above statement equals to below code
def make_gen():
    for x in range(100):
        yield x ** 2
gen2 = make_gen()
print(gen2)

<generator object <genexpr> at 0x111d1d0f8>
<generator object make_gen at 0x111d1d518>

In [185]:
print(sum(gen))
print(sum(gen2))

328350
328350

In [187]:
dict((i, i**2) for i in range(10))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

#### itertools module

In [192]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

# groupby takes any sequence and a function, 
#   grouping consecutive elements in the sequence by return value of the function

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

![Table%203-2.%20Some%20useful%20itertools%20functions.png](images/Table%203-2.%20Some%20useful%20itertools%20functions.png)

### Errors and Exception Handling

In [194]:
float('1.2345')

1.2345

In [195]:
float('string')

ValueError: could not convert string to float: 'string'

In [196]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

print(attempt_float('1.2345'))
print(attempt_float('1.2345X'))

1.2345
1.2345X

In [197]:
float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [198]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

print(attempt_float((1,2)))

TypeError: float() argument must be a string or a number, not 'tuple'

In [199]:
def attempt_float(x):
    try:
        return float(x)
    except (ValueError, TypeError):
        return x

print(attempt_float((1,2)))

(1, 2)

In [202]:
path = 'hello_world.py'
def write_to_file(file):
    return None

f = open(path, 'w')
try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

Succeeded

#### Exceptions in IPython

In [203]:
# %xmode
# %debug
# %pdb

## 3.3 Files and the Operating System

In [205]:
path = 'pydataBook2/examples/segismundo.txt'
f = open(path) # in read-only mode

for line in f:
    print(line)

Suea el rico en su riqueza,

que ms cuidados le ofrece;



suea el pobre que padece

su miseria y su pobreza;



suea el que a medrar empieza,

suea el que afana y pretende,

suea el que agravia y ofende,



y en el mundo, en conclusin,

todos suean lo que son,

aunque ninguno lo entiende.

In [207]:
lines = [x.rstrip() for x in open(path)]
lines

['Suea el rico en su riqueza,',
 'que ms cuidados le ofrece;',
 '',
 'suea el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'suea el que a medrar empieza,',
 'suea el que afana y pretende,',
 'suea el que agravia y ofende,',
 '',
 'y en el mundo, en conclusin,',
 'todos suean lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [208]:
f.close()

In [209]:
# One of the ways to make it easier to clean up open files is to use the with statement
with open(path) as f:
    lines = [x.rstrip() for x in f]
# don't require a f.close() statement
lines

['Suea el rico en su riqueza,',
 'que ms cuidados le ofrece;',
 '',
 'suea el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'suea el que a medrar empieza,',
 'suea el que afana y pretende,',
 'suea el que agravia y ofende,',
 '',
 'y en el mundo, en conclusin,',
 'todos suean lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [210]:
f = open(path)
f.read(10)

'Suea el r'

In [211]:
f2 = open(path, 'rb')
f2.read(10)

b'Sue\xc3\xb1a el '

In [212]:
f.tell()

11

In [213]:
f2.tell()

10

In [214]:
import sys
sys.getdefaultencoding()

'utf-8'

In [215]:
f.seek(3)

3

In [216]:
f.read(1)

''

In [217]:
f.close()
f2.close()

![Table%203-3.%20Python%20file%20modes.png](images/Table%203-3.%20Python%20file%20modes.png)

In [219]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open('tmp.txt') as f:
    lines = f.readlines()

lines

['Suea el rico en su riqueza,\n',
 'que ms cuidados le ofrece;\n',
 'suea el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'suea el que a medrar empieza,\n',
 'suea el que afana y pretende,\n',
 'suea el que agravia y ofende,\n',
 'y en el mundo, en conclusin,\n',
 'todos suean lo que son,\n',
 'aunque ninguno lo entiende.\n']

![Table%203-4.%20Important%20Python%20%20le%20methods%20or%20attributes1.png](images/Table%203-4.%20Important%20Python%20%20le%20methods%20or%20attributes1.png)

![Table%203-4.%20Important%20Python%20%20le%20methods%20or%20attributes2.png](images/Table%203-4.%20Important%20Python%20%20le%20methods%20or%20attributes2.png)

### Bytes and Unicode with Files

In [221]:
with open(path) as f:
    chars = f.read(10)
chars

'Suea el r'

In [224]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [225]:
data.decode('utf8')

'Suea el '

In [228]:
data[:4].decode('utf8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [231]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())

with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

Suea el r

In [232]:
f = open(path)
f.read(5)

'Suea'

In [233]:
f.seek(4)

4

In [234]:
f.read(4)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

In [235]:
f.seek(0)

0

In [236]:
f.read(10)

'Suea el r'

In [237]:
f.read(4)

'ico '

In [238]:
f.close()