# Getting started with pandas

In [24]:
import pandas as pd

In [25]:
from pandas import Series, DataFrame

In [26]:
import numpy as np

## 5.1 Introduction to pandas Data Structures

### Series

In [27]:
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [28]:
obj.values

array([ 4,  7, -5,  3])

In [29]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [30]:
obj2 = pd.Series([4,7,-5,3], index=['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [31]:
obj2['a']

-5

In [32]:
obj2['d'] = 6

In [33]:
obj2[['c','a','d']]

c    3
a   -5
d    6
dtype: int64

In [34]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [35]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [36]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [37]:
'b' in obj2

True

In [38]:
'e' in obj2

False

In [39]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [40]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [41]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [42]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [43]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [44]:
obj4.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [45]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64